body {
  /* background-color: #204887; */
  /* color: #d0e1fd; */
  background-color: #000;
  color: #007BFF;
}

:root {
  --text-color: #326fd1;
  --primary-color: #ff5722;
  --primary-color-text: #326fd1;
  --secondary-color: #607d8b;
  --secondary-color-text: #326fd1;
  --highlight-text-color: #f97316;
}

.p-intputtext {
  border-color: #007BFF !important;
  color: #000 !important;
}

label {
  color: #fff;
  font-weight: 400;
}

.customMenubar .p-menuitem-text {
  color: #007BFF !important;
  font-weight: bold;
}

.customMenubar {
  background-color: #333 !important;
  border: none;
}

.customCard {
  background-color: #333 !important;
}

.customInput {
  color: white; /* Color del texto */
  background-color: #333; /* Color de fondo */
  border: 1px solid #555; /* Borde opcional */
}

.customInput:focus {
  background-color: #444; /* Color cuando está enfocado */
  border-color: #777;
}