body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #192c43;
}

header {
  background-color: #315b8e;
  color: #fff;
  padding: 10px 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

#inicio {
  text-align: center;
  padding: 50px;
  color: #fff;
}

#portafolio {
  padding: 50px;
  background-color: #dfe8f3;
}

.proyectos {
  display: flex;
  justify-content: center;
  gap: 15rem;
  text-align: center;
}

#servicios {
  padding: 50px;
  color: #fff;
}

.servicios {
  display: flex;
  justify-content: space-between;
}

.servicio {
  width: 30%;
  text-align: center;
}

.servicio img {
  max-width: 100px;
}

footer {
  background-color: #315b8e;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer .redes-sociales a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}