:root {
  --primary-color: #ff5722; /* Color primario (Ejemplo: Naranja) */
  --primary-color-text: #ffffff; /* Color del texto sobre primario */
  
  --secondary-color: #607d8b; /* Color secundario (Ejemplo: Gris azulado) */
  --secondary-color-text: #ffffff; /* Color del texto sobre secundario */
}